<form action="/home/option_cancel" method="get" data-remote="true" id="form_cancel_<%= @p_id %>">
  <% Option.where(poll_id: @p_id).find_each do |o| %>
    <div class="radio">
      <!-- Options -->
      <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label>
    </div>
  <% end %>
  <!-- user cancels his/her vote -->
  <button name="poll_id" value="<%= @p_id %>" type="submit" class="btn">Cancel My Vote</button>
</form>
