<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="/home/index">Brand</a>
  <ul class="nav navbar-nav">
    <li><a href="/home/profile">Profile</a></li>
    <li><a href="/home/my_friends">Friends</a></li>
    <li><a href="/rooms/show">Chat</a></li>
    <li><a href="/users/edit">Setting</a></li>
    <li><a href="/users/sign_out">Log Out</a></li>
  </ul>
</nav><br><br><br>
<form action= "/home/create_group" method="get">
  <label>Group Name</label>
  <input name= "group_name", type="text", placeholder="Group Name">
  <label>School</label>
  <input name= "group_school", type="text", placeholder="School">
  <button>Create Group!<button>
</form>
