<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="/home/index">Brand</a>
  <ul class="nav navbar-nav">
    <li><a href="/home/profile">Profile</a></li>
    <li class="active"><a href="/home/my_friends">Friends</a></li>
    <li><a href="/rooms/show">Chat</a></li>
    <li><a href="/users/edit">Setting</a></li>
    <li><a href="/users/sign_out">Log Out</a></li>
  </ul>
</nav><br><br><br>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Conversations</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @user_conversations.each do |user_conversations| %>
            <% if user_conversations.recipient_id == current_user.id %>
              <% User.where(id: user_conversations.sender_id).find do |friend| %>
                <li><%= link_to friend.first_name, conversations_path(user_id: friend.id), remote: true, method: :post %></li>
              <% end %>
            <% else %>
              <% User.where(id: user_conversations.recipient_id).find do |friend| %>
                <li><%= link_to friend.first_name, conversations_path(user_id: friend.id), remote: true, method: :post %></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>
</div>
