/*******************Declare the fonts*****************/
@font-face {
  font-family: "Source Sans Pro Light";
  src: url('/assets/SourceSansPro-Light.otf');

  font-family: "Source Sans Pro Regular";
  src: url('/assets/SourceSansPro-Regular.otf');
}
/*******************Group Color*****************/
.circle_black {
  background: #2c2c2c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
.circle_blue {
  background: #2f77c0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
.circle_red {
  background: #d4624c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
.circle_green {
  background: #77b756;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
/*******************Heading*****************/
nav#navbar-custom {
  background-image: none;
  background-color: #DA413D;
  border: none;
  height: 40px;
  min-height: initial;
}
nav#navbar-custom .container-fluid {
  height: inherit;
}
nav#navbar-custom .row {
  height: inherit;
}
nav#navbar-custom .navbar-brand {
  padding: 10px 15px;
  height: inherit;
  color: white;
  font-family: "Source Sans Pro Regular";
}
nav#navbar-custom #dropdownMenuButton {
  float: right;
  outline: none;
  border: none;
  padding: 10px 12px;
  background-color: #DA413D;
  color: white;
  font-family: "Source Sans Pro Regular";
}
nav#navbar-custom .dropdown-menu {
  right: 10px;
  left: initial;
  min-width: initial;
  margin-top: 0;
  width: 90px;
  background-color: #666666;
  border: none;
  padding: 0;
  border-radius: initial;
}
nav#navbar-custom .dropdown-menu a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px 0px 5px 10px;
}
nav#navbar-custom .dropdown-menu :hover {
  background-color: #7c7b7b;
}
nav#navbar-custom form {
  margin-top: 3px;
}
nav#navbar-custom input {
  height: 34px;
  width: 80%;
  display: inline-block;
  float: left;
  border-radius: 0px;
}
nav#navbar-custom .btn-search {
  background-color: #de5854;
  float: left;
  border-radius: 0px;
}
nav#navbar-custom .btn-search i {
  color: white;
}
/*******************main page styling*****************/

body {
  // overflow: hidden; add this later

}
.container-body {
  background-color: #f9f9f9;
}
.board {
  background-color: white;
  padding-bottom: 100px;
}
.leftbar,
.board {
  padding-top: 80px;
  height: 100%;
}
.leftbar {
  font-size: 18px;
  font-family: "Source Sans Pro Regular";
}
.leftbar > p {
  text-align: left;
  color: #454b54;
}
.leftbar .leftbar-personal li {
  margin-bottom: 15px;
}
.leftbar .leftbar-personal li a,
.leftbar .leftbar-groups li a,
.leftbar > p a {
  color: #454b54;
  text-decoration: none;
}
.leftbar > p a i {
  color: #337ab7;
}
.leftbar .leftbar-personal li a i,
.leftbar .leftbar-groups li > div,
.leftbar > p a i {
  margin-right: 5px;
}
.leftbar .leftbar-groups li {
  margin-bottom: 10px;
}
.leftbar .leftbar-groups li a {
  position: relative;
  bottom: 2px;
}
.main_feed {
  width: 22%;
  display: inline-block;
  margin-left: 2%;
}
.main_feed h4 {
  text-align: center;
  margin-top: 0;
  font-family: "Source Sans Pro Regular";
  border-bottom: 3px solid #DA413D;
  position: relative;
  padding-bottom: 6px;
}
.main_feed_content {
  background-color: #e4e4e6;
  height: 450px;
  overflow: auto;
  padding: 5px;
  border: 2px solid #e4e4e6;
  border-radius: 5px 0px 0px 5px;
}
.each_feed {
  background-color: white;
  overflow: hidden;
  height: auto;
  margin-bottom: 7px;
  border-radius: 2px;
  box-shadow: 0px 0.5px 0.5px #888888;
  cursor: pointer; cursor: hand;
}
.each_feed_read {
  background-color: #d9d9d9;
  overflow: hidden;
  height: auto;
  margin-bottom: 7px;
  border-radius: 2px;
  box-shadow: 0px 0.5px 0.5px #888888;
  cursor: pointer; cursor: hand;
}
.each_feed:last-child,
.each_feed_read:last-child {
  margin-bottom: 0;
}
.each_feed_title {
  height: 30px;
  position: relative;
}
.each_feed_title div{
  position: absolute;
  top: 5px;
  left: 5px;
}
.each_feed_title p{
  position: absolute;
  top: 5px;
  left: 30px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  font-weight: bold;
}
.each_feed .feed_date,
.each_feed_read .feed_date {
  font-size: 10px;
  text-align: right;
  margin-bottom: 0;
  margin-right: 3px;
}
//doesnt work on firefox or IE
.each_feed_content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-left: 5px;
  color: #6a646b;
}
.fa-times {
  color:red;
}
.fa-check {
  color: green;
}
/************group page styling********/
#group_profile {
  font-family: "Source Sans Pro Regular";
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: block;
}
#group_profile .group_profile_heading {
  display: inline-block;
  position: absolute;
  margin-left: 20px;
  top: 0;
}
#group_profile .group_profile_heading h3 {
  display: inline-block;
  margin: 0;
}
#group_profile .group_profile_heading p {
  display: inline-block;
  margin: 0;
  margin-left: 15px;
}
#group_profile > p {
  padding-left: 80px;
  padding-right: 20px;
  margin-top: -30px;
}
#group_profile .group-profile-edit-button {
  position: absolute;
  left: 698px;
  bottom: 25px;
  background: transparent;
  border: none;
}
ul#feature-tabs {
  font-family: "Source Sans Pro Regular";
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
ul#feature-tabs li {
  margin: 0;
}
ul#feature-tabs li a {
  color: #6a646b;
  border-radius: 0;
  padding: 0;
  padding-bottom: 5px;
  margin: 0px 25px;
  text-align: center;
}
ul#feature-tabs li a:hover,
ul#feature-tabs > li.active > a {
  background-color: transparent;
  border-bottom: 5px solid #DA413D;
  color: black;
}
.announcement_accordion {
  width: 100%;
}
.announcement_accordion :hover {
  background-color: none;
}
.announcement_accordion :after {
  background-color: none;
}
#budget_item_input {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
}
#budget_item_input * {
  vertical-align: middle;
}
#budget_item_input #description {
  width: 70%;
  display: inline-block;
  margin-right: 3%;
}
#budget_item_input #money {
  width: 18%;
  display: inline-block;
  border-radius: 4px 0 0 4px;
}
#budget_item_input button i {
  color: white;
}
#budget_item_input button.money_plus_button {
  background-color: #38DB1E;
  border-radius: 0
}
#budget_item_input button.money_minus_button {
  background-color: #F43716;
  border-radius: 0 4px 4px 0;
}
/**members page design**/
#Network {
  text-align: center;
}
#Network .hex,
#friends-page-tab-content .hex {
  width: 100px;
  padding-bottom: 115.470053838px;
}
.member-prof-positioning {
  width:150px; height: 120px;
  margin: 0 auto 10px;
}
#Network .member-profile,
#friends-page-tab-content .member-profile {
  margin-right: 10px;
  margin-bottom: 13px;
  padding-left: 0px; padding-right: 0px;
  padding-bottom: 15px;
  background: none;
  outline: none;
  font-weight: bold;
  border: 2px solid #FBF764;
  border-radius: 20px;
  -webkit-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  transition: border 0.5s ease;
  color: #543B19;
}
#Network .member-profile:hover,
#friends-page-tab-content .member-profile:hover {
  border: 2px solid #543B19;
}
/*member's page pop-up design*/
.member-profile-popup {
  width: 400px;
  margin: 0 auto;
}
/******************profile page styling********************/

/*Preferences*/
#preferences .preference_group_name {
  font-family: "Source Sans Pro Regular";
  font-size: 30px;
  position: relative;
  left: 75px;
  bottom: 57px;
}
#preferences .preference_choose_color_label {
  font-family: "Source Sans Pro Regular";
  color: #6a646b;
  font-size: 13px;
}
/******************create group page styling***********/
.group-field {
  font-family: "Source Sans Pro Regular";
  width: 50%;
  margin-bottom: 15px;
  margin-left: 5%;
}
.group-field:last-child {
  text-align: right;
}
.create_group-header {
  margin-bottom: 35px;
  margin-left: 5%;
}
.create_group-header h3 {
  margin-top: 0;
}
#create-group-btn {
  margin-top: 15px;
  background-color: #DA413D;
  color: white;
  font-weight: bold;
}
/******************Group Profile Edit Page***********/
.group-edit-header,
.group-profile-field {
  font-family: "Source Sans Pro Regular";
  width: 50%;
}
.group-edit-header {
  font-weight: bold;
  position: relative;
}
.group-profile-field {
  padding-bottom: 15px;
}
/******************friend page styling*******************/
.nav-friends {
  width: 12%;
  text-align: center;
  font-weight: bold;
  float: left;
}
.nav-friends li a {
  color: #543B19;
}
#friends-page-tab-content {
  width: 83%;
  margin-left: 3%;
  float: left;
  padding: 2%;
  text-align: center;
  border: 2px solid #ECEBC6;
  border-radius: 20px;
}
