nav.navbar-custom {
  border: none;
  background-image: none;
  background-color: #FBF764;
}
ul.nav-icons {
  float: right;
  display: -webkit-flex;
  display: flex;
  flex-flow: nowrap;
  margin: 0;
  margin-right: -15px;
}
i {
  color: #543B19;
}
/*navbar hover color*/
.navbar-nav li:hover {
  i {
    color: black;
  }
}
/*replaced class="active" for styling reason*/
.current {
  background-color: #FFF300;
}
/******************profile page styling********************/
.profile-content {
  text-align: center;
  font-weight: bold;
  width: 300px;
  margin: 0 auto;
  border: 2px solid #ECEBC6;
  border-radius: 20px;
  padding: 0.5em;
  padding-bottom: 1em;
}
.profile-content a {
  display: block;
  float: right;
}
.profile-content p {
  clear: right;
}
/*edit button hover color*/
.fa-pencil-square-o:hover {
  color: black;
}
/*hexagon design*/
.hex {
  width: 150px;
  padding-bottom: 173.205080757px; /* =  width /0.866 */
  overflow:hidden;
  visibility:hidden;
  margin: 0 auto;

  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(60deg) skewY(-30deg);
}
.hex * {
  position: absolute;
  visibility: visible;
}
.hex > div {
  width:100%;
  height:100%;
  overflow:hidden;
  background-color: black;

  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(30deg) rotate(-60deg);

	-webkit-backface-visibility:hidden;
}
.hex div img {
  left:-100%; right:-100%;
  width: auto; height: 100%;
  margin:0 auto;
  transform: rotate(30deg);
}
.orientation-correcter {
  transform: rotate(-30deg);
}
.user-prof-positioning {
  width:200px; height: 175px;
  display: block;
  margin: 80px auto 0px;
}
.profile-pic-update-form {
  margin: 0 auto;
  width: 300px;
}
/*******************main page styling*****************/
.welcome {
  margin-top: 150px;
  font-size: 30px;
  color: #543B19;
}
.search-bar-custom input {
  height: 43px;
}
.btn-search {
  background-color: #FBF764;
}
.btn-search:hover {
  background-color: #543B19;
  i {
    color: #FBF764;
  }
}
#create-group-link {
  display: inline-block;
  padding: 10px 102px;
  margin: 50px auto 30px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #543B19;
  background-color: #FBF764;
  text-align: center;
}
#create-group-link:hover {
  background-color: #543B19;
  color: #FBF764;
}
.group-prof-positioning {
  width:200px; height: 200px;
  margin: 0 5px;
}
.group-prof-positioning p {
  font-weight: bold;
  color: #543B19;
  text-align: center;
  font-size: 1.25em;
}
#group-link {
  margin-right: 15px;
  margin-bottom: 13px;
  padding-left: 0px; padding-right: 0px;
  background: none;
  outline: none;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 20px;
  -webkit-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  transition: border 0.5s ease;
  color: #543B19;
}
#group-link:hover {
  border: 2px solid #543B19;
}
/******************create group page styling***********/
.group-field {
  /*div styling -> for center alignment*/
  width: 300px;
  margin: auto;
  margin-bottom: 15px;
}
.group-field:first-child {
  margin-top: 120px;
}
.group-field label {
  color: #543B19;
  padding-left: 10px;
}
#group-name, #group-school {
  border-radius: 20px;
  width: 300px;
  height: 40px;
}
#create-group-btn {
  display: block;
  width: 300px;
  height: 40px;
  margin:auto;
  margin-top: 35px;
  background-color: #FBF764;
  border-radius: 20px;
  font-weight: bold;
  color: #543B19;
}
#create-group-btn:hover {
  background-color: #543B19;
  color: #FBF764;
}
/************group page styling********/
.selected-tab {
  background-color: white;
}
.sidebar,
.sidebar-members {
  height: 100%;
  position: fixed;
  color: #543B19;
  font-size: 20px;
  left: 0;
  top: 100px;
}
.sidebar .hex {
  width: 130px;
  padding-bottom: 150.111069989px;
}
.sidebar-mini ul,
.sidebar-expand ul {
  list-style: none;
  padding: 0;
  color: #543B19;
}
.sidebar-mini,
.sidebar-expand {
  float: left;
  height: 100%;
}
.sidebar-mini ul li a {
  text-decoration: none;
  color: #543B19;
  display: block;
}
.sidebar-mini ul li,
.sidebar-expand ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
/*mini sidebar styling*/
.sidebar-mini {
  width: 50px;
  background-color: #FBF764;
  text-align: center;
  border-right: 2px solid #FBF764;
}
.sidebar-mini ul {
  margin-top: 10px;
}
.sidebar-mini li {
  border-radius: 10px;
  position: relative;
}
.sidebar-mini li:hover {
  background-color: white;
}
.sidebar-mini li span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
}
.sidebar-mini button {
  background: none;
  border: none;
  outline: none;
  margin-top: 10px;
  position: absolute;
  left: 7px;
}
/*notification description styling*/
.sidebar-expand {
  width: 230px;
  border: 2px solid #FBF764;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  padding-left: 60px;
  padding-top: 40px;
  display: none;
  z-index: -1;
}
.sidebar-expand button {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  top: 10px;
  right: 10px;
  display: none;
}
/*group page main body styling*/
#container-group-page {
  margin: auto;
  transition: padding-left .7s;
  margin-top: 100px;
  padding-left: 50px;
}
.group-page-header {
  width: 100%;
  border: 2px solid #ECEBC6;
  border-radius: 20px;
  padding: 10px;
  float: left;
  margin-bottom: 40px;
}
.group-page-header .group-prof-positioning {
  float: left;
  margin-bottom: -20px;
}
/**members page design**/
#Network {
  margin-top: 80px;
  text-align: center;
}
#Network .hex,
#friends-page-tab-content .hex {
  width: 100px;
  padding-bottom: 115.470053838px;
}
.member-prof-positioning {
  width:150px; height: 120px;
  margin: 0 auto 10px;
}
#Network .member-profile,
#friends-page-tab-content .member-profile {
  margin-right: 10px;
  margin-bottom: 13px;
  padding-left: 0px; padding-right: 0px;
  padding-bottom: 15px;
  background: none;
  outline: none;
  font-weight: bold;
  border: 2px solid #FBF764;
  border-radius: 20px;
  -webkit-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  transition: border 0.5s ease;
  color: #543B19;
}
#Network .member-profile:hover,
#friends-page-tab-content .member-profile:hover {
  border: 2px solid #543B19;
}
/*member's page pop-up design*/
.member-profile-popup {
  width: 400px;
  margin: 0 auto;
}
/******************friend page styling*******************/
.nav-friends {
  width: 12%;
  text-align: center;
  font-weight: bold;
  float: left;
}
.nav-friends li a {
  color: #543B19;
}
#friends-page-tab-content {
  width: 83%;
  margin-left: 3%;
  float: left;
  padding: 2%;
  text-align: center;
  border: 2px solid #ECEBC6;
  border-radius: 20px;
}
