<!DOCTYPE html>
<html>
  <head>
    <title>Hive</title>
    <!--Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <!--icon source-->
    <script src="https://use.fontawesome.com/359aa293c5.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.12.1.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <body>
      <!-- Moved the script from head to body because it only worked after refreshing the page-->
    <script>
      $(function() {
        // $('ul li a').click(function(){
        //   $('html, body').animate({
        //     scrollTop: $('[name="' + $.attr(this, 'href').substr(1) + '"]').offset().top -100
        //   }, 400);
        //   return false;
        // });
        $('#ann_slide').click(function(){
          $('.sidebar-mini li').removeClass('selected-tab');
          $('.sidebar-expand').hide();
          $(this).parent().addClass('selected-tab');
          $('#sidebar-announcement-tab button').fadeIn(500);
          $('#sidebar-announcement-tab').fadeIn(500);
          document.getElementById("container-group-page").style.paddingLeft = "230px";
        });
        $('#cal_slide').click(function(){
          $('.sidebar-mini li').removeClass('selected-tab');
          $('.sidebar-expand').hide();
          $(this).parent().addClass('selected-tab');
          $('#sidebar-calendar-tab button').fadeIn(500);
          $('#sidebar-calendar-tab').fadeIn(500);
          document.getElementById("container-group-page").style.paddingLeft = "230px";
        });
        $('#budget_slide').click(function(){
          $('.sidebar-mini li').removeClass('selected-tab');
          $('.sidebar-expand').hide();
          $(this).parent().addClass('selected-tab');
          $('#sidebar-budget-tab button').fadeIn(500);
          $('#sidebar-budget-tab').fadeIn(500);
          document.getElementById("container-group-page").style.paddingLeft = "230px";
        });
        $('#poll_slide').click(function(){
          $('.sidebar-mini li').removeClass('selected-tab');
          $('.sidebar-expand').hide();
          $(this).parent().addClass('selected-tab');
          $('#sidebar-poll-tab button').fadeIn(500);
          $('#sidebar-poll-tab').fadeIn(500);
          document.getElementById("container-group-page").style.paddingLeft = "230px";
        });
        $('.sidebar-expand button').click(function(){
          $('.sidebar-expand button').fadeOut(500);
          $('.sidebar-expand').fadeOut(500);
          $('.sidebar-mini button').fadeIn(300);
          $('.sidebar-mini li').removeClass('selected-tab');
          document.getElementById("container-group-page").style.paddingLeft= "50px";
        });
        $('#members-tab').click(function(){
          $('.sidebar').hide();
          $('.sidebar-members').fadeIn(500);
          $('#members-tab').addClass('active');
          $('#home-tab').removeClass('active');
          $('#Home').removeClass('active');
          $('#Network').addClass('active');
          $('html, body').animate({
            scrollTop: $('#members-tab').offset().top -100
            }, 400);
            return false;
        });
        $('#home-tab').click(function(){
          $('.sidebar-members').hide();
          $('.sidebar').fadeIn(500);
        });
      });
    </script>

    <%= yield %>
    <div id="remote_container"></div>
  </body>
</html>
